createdAt: "2019-05-14T12:06:30.021Z"
updatedAt: "2019-05-14T12:07:57.744Z"
type: "MARKDOWN_NOTE"
folder: "018706325dd71481f678"
title: "CGS Project"
tags: []
content: '''
  # CGS Project
  ### Data
  1. List of Graduate Programmes
  2. List of Courses + Details
  3. General Information (contact, admin, etc.)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
