createdAt: "2019-05-03T02:05:22.214Z"
updatedAt: "2019-05-03T02:05:31.030Z"
type: "MARKDOWN_NOTE"
folder: "018706325dd71481f678"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
