createdAt: "2019-02-23T01:07:50.616Z"
updatedAt: "2019-04-27T01:08:26.721Z"
type: "MARKDOWN_NOTE"
folder: "018706325dd71481f678"
title: "MR Day 4"
tags: [
  "machine-reasoning"
  "lecture"
  "isy5001"
]
content: '''
  # MR Day 4
  
  Not even sure if this lecture is relevant. Just a bunch of examples
'''
linesHighlighted: []
isStarred: false
isTrashed: false
